@model Apartment


<div class="container">
    <div class="row">
        <div class="col-6">

            <div class="row">
                <div class="col">
                    <h3>Daire No : @Model.Number</h3>
                    <h3>Oda Sayısı : @Model.Type</h3>
                    <h3>Kat : @Model.Floor</h3>
                    <h3>Daire Kullanıcısı : @ViewBag.CircleUser </h3>


                </div>
            </div>
        </div>
    </div>

</div>  