@model User

    <div class="container">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col">
                        <h3>Name : @Model.FirstName</h3>
                        <h3>Phone : @Model.Phone</h3>
                        <h3>UserName : @Model.UserName</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>  
